#title {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    border: solid 2px black;
    background-color: hsl(194, 61%, 89%);
    padding: 12px;
    width: 500px;
    margin: 12px;
    box-sizing: border-box;
    display: inline-block;
}

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: #F5F1E7;
    text-align: center;
}

.body .main-text {
    color: black;
    font-size: 28px;
    font-family: cursive;
}

.img {
    height: 800px;
    width: 1200px;
    text-align: center;
}

#homepage-img {
    height: 900px;
    width: 1200px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    margin: 18px;
    list-style: none;
    text-align: start;
    font-family: cursive;
}

ol {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    margin: 18px;
    text-align: start;
    font-family: cursive;
}

.list {
    font-size: 30px;
    padding: 16px;
    margin: 16px;
    width: auto;
    display: inline-flex;
    box-sizing: border-box;
    text-align: center;
}

#recipes-img {
    height: 400px;
    width: 400px;
}

#recipe-header {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: start;
    border: solid 2px black;
    background-color: hsl(194, 61%, 89%);
    padding: 12px;
    margin: 12px;
    width: 500px;
    display: block;
}

#recipe-list {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    margin: 18px;
    list-style: none;
    text-align: start;
    font-family: cursive;
    display: inline-block;
    box-sizing: border-box;
}